body {
    background-color: #bdd9f6;
}

.calculator {
    width: 260px;
    max-width: 90vw;
}

.calculator input {
    font-size: 1.5rem;
}

.calc-btn {
    width: 60px;
    height: 60px;
    font-size: 1.25rem;
}

@media (max-width: 576px) {
    .calc-btn {
        width: 50px;
        height: 50px;
        font-size: 1rem;
    }
}
.heading {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center ;
    background-color: #0e0e0e;
    padding: 10px;
}   
